<p id="notice"><%= notice %></p>

<div class="thumbnail">
  <%= image_tag(@adventure.picture_url, width: 500, height: 500) if @adventure.picture.present? %>
      <div class="caption">
        <h3><%= @adventure.name %></h3>
        <%= @adventure.description %>
      </div>
    </div>


<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
